@model Produto

<div class="text-center">
    <h1 class="display-5">Detalhes do Produto</h1>
</div>

<dl class="row">
<dd class="col-sm-3">@Html.DisplayNameFor(Model => Model.Codigo)</dd>
<dt class="col-sm-9">
    <p>@Html.DisplayFor(Model => Model.Codigo)</p>
</dt>

<dd class="col-sm-3">@Html.DisplayNameFor(Model => Model.Cliente)</dd>
<dt class="col-sm-9">
    <p>@Html.DisplayFor(Model => Model.Cliente)</p>

<dd class="col-sm-3">@Html.DisplayNameFor(Model => Model.DataSaida)</dd>
<dt class="col-sm-9">
    <p>@Html.DisplayFor(Model => Model.DataSaida)</p>
</dt>

<dd class="col-sm-3">@Html.DisplayNameFor(Model => Model.Destino)</dd>
<dt class="col-sm-9">
    <p>@Html.DisplayFor(Model => Model.Destino)</p>
</dt>

<dd class="col-sm-3">@Html.DisplayNameFor(Model => Model.Quantidade)</dd>
<dt class="col-sm-9">
    <p>@Html.DisplayFor(Model => Model.Quantidade)</p>
</dt>
</dl>