@model Produto

<div class="text-center" style="padding-bottom:5px">
    <h1 class="display-5">Detalhes do Produto</h1>
</div>

<table class="table table-bordered border-secondary border-2">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Codigo)</th>
            <td>@Html.DisplayFor(Model => Model.Codigo)</td>
        </tr>        
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.cliente.Nome)</th>
            <td>@Html.DisplayFor(Model => Model.cliente.Nome)</td>
        </tr>        
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.DataSaida)</th>
            <td>@Html.DisplayFor(Model => Model.DataSaida)</td>
        </tr>        
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Destino)</th>
            <td>@Html.DisplayFor(Model => Model.Destino)</td>
        </tr>        
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Quantidade)</th>
            <td>@Html.DisplayFor(Model => Model.Quantidade)</td>
        </tr>
    </tbody>
</table>