@model Cliente

<div class="text-center">
    <h1 class="display-5">Detalhes do Cliente</h1>
</div>

<table class="table table-bordered border-secondary border-2">
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Nome)</th>
            <td>@Html.DisplayFor(Model => Model.Nome)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Cidade)</th>
            <td>@Html.DisplayFor(Model => Model.Cidade)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.Telefone)</th>
            <td>@Html.DisplayFor(Model => Model.Telefone)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(Model => Model.eMail)</th>
            <td>@Html.DisplayFor(Model => Model.eMail)</td>
        </tr>
    </tbody>
</table>
